/* General styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333; /* Set default text color */
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff; /* Set container background color */
    border-radius: 10px; /* Add container border radius */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add container box shadow */
    overflow: hidden; /* Prevent container from expanding */
}

/* Header styles */
.header-section {
    background-color: #fdefef;
    color: #333;
    padding: 30px;
}

.profile-container {
    display: flex;
    align-items: center;
}

.profile-container img {
    border-radius: 50%;
    max-width: 140px; /* Adjust the maximum width of the image */
    height: auto;
    margin-right: 20px; /* Adjust margin as needed */
}

.profile-info h1 {
    margin: 0;
    font-size: 2em;
}

.profile-info .description {
    font-size: 1.2em;
    color: #ddd; /* Lighten the description text color */
    margin-top: 10px;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

.social-links li {
    display: inline;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.social-links img {
    width: 24px; /* Smaller size for social media icons */
    height: 24px;
}

.profile-info a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.profile-info a:hover {
    color: #00bcd4;
}

.social-links a:hover {
    color: #00bcd4;
}

/* Content section styles */
.content-section {
    background-color: #fff;
    padding: 30px;
    margin-bottom: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.content-section h2 {
    color: #333;
    margin-top: 0;
    margin-bottom: 20px; /* Increase margin bottom */
    font-size: 2em; /* Increase section heading font size */
}

.body-links {
    margin-top: 20px;
    font-size: 1em;
    color: #333;
}

.body-links a {
    color: #00bcd4;
    text-decoration: none;
}

.body-links a:hover {
    text-decoration: underline;
}
