/* General styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333; /* Set default text color */
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff; /* Set container background color */
    border-radius: 10px; /* Add container border radius */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add container box shadow */
    overflow: hidden; /* Prevent container from expanding */
}

/* Header styles */
.header-section {
    background-color: #fdefef;
    color: #333;
    padding: 30px;
}

    .profile-container {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center align items */
        padding: 10px; /* Add padding for better spacing */
    }

    .profile-container img {
        border-radius: 50%;
        max-width: 140px; /* Adjust the maximum width of the image */
        height: auto;
        margin-right: 20px; /* Adjust margin as needed */
    }

    .profile-info h1 {
        margin: 0;
        font-size: 2em;
    }

    .profile-info .description {
        font-size: 1.2em;
        color: #333; /* Lighten the description text color */
        margin-top: 10px;
    }

.social-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;/* Add gap between the social media links */
}

.social-links li {
    display: inline; /* Ensure list items are inline */
}

.social-links a {
    color: #00bcd4;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #333; /* Change color on hover */
}

.profile-info a {
    color: #5b5b5b;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.profile-info a:hover {
    color: #00bcd4;
}

/* Content section styles */
.content-section {
    background-color: #fff;
    padding: 30px;
    margin-bottom: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.content-section h2 {
    color: #333;
    margin-top: 0;
    margin-bottom: 20px; /* Increase margin bottom */
    font-size: 2em; /* Increase section heading font size */
}

.body-links {
    margin-top: 20px;
    font-size: 1em;
    color: #333;
}

.body-links a {
    color: #00bcd4;
    text-decoration: none;
}

.body-links a:hover {
    text-decoration: underline;
}

.blog-posts-container {
    display: flex;
    justify-content: space-between; /* Ensure even spacing */
    overflow-x: auto; /* Enable horizontal scrolling if necessary */
}

.blog-post {
    flex: 0 0 calc(30% - 20px); /* Adjusted width for three posts per row */
    max-width: calc(30% - 20px); /* Added to ensure responsiveness */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 16px 8px 16px rgba(0.2, 0.2, 0.2, 0.2);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.blog-post img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.blog-post h4 {
    margin-bottom: 10px; /* Add space between the title and the content */
    font-size: 1.2rem; /* Adjust the font size */
    color: #333; /* Set the color of the title */
}

.blog-post h4 a {
    text-decoration: none; /* Remove underline from links */
    color: #333; /* Set the color of the link */
}

.blog-post h4 a:hover {
    color: #00bcd4; /* Change color on hover */
}

.blog-post:nth-child(1) img {
    margin-bottom: 10px; /* Adjust the margin bottom as needed */
}

.blog-post:nth-child(1) h4 {
    margin-bottom: 17px; /* Adjust the margin bottom as needed */
    /* Add any other styles specific to the second blog post's title */
}

.blog-post:nth-child(2) img {
    margin-bottom: 5px; /* Adjust the margin bottom as needed */
}

.blog-post:nth-child(2) h4 {
    margin-bottom: 2px; /* Adjust the margin bottom as needed */
    /* Add any other styles specific to the second blog post's title */
}

#summary-ai-concepts-posts .blog-post:nth-child(1) img {
    margin-top: 20px; /* Adjust the margin-top for the VAE image */
}

.see-more {
    text-align: center;
    margin-top: 22px;
}

.see-more a {
    color: #00bcd4;
    text-decoration: none;
    font-size: 1.2rem;
}

.see-more a:hover {
    text-decoration: underline;
}

#our-papers-title {
    color: #f5a6cf; /* Set the color to red */
}

#other-cl-papers-title {
    color: #8386bd; /* Set the color to yellow */
}

#summary-ai-concepts-title {
    color: #70aee7; /* Set the color to green, for example */
}

#our-papers-section .see-more a {
    color: #f5a6cf;
}

#other-cl-papers-section .see-more a {
    color: #8386bd;
}

#summary-ai-concepts-section .see-more a {
    color: #70aee7;
}
