body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
}

aside {
    width: 15%;
    position: fixed;
    height: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

aside img {
    border-radius: 50%;
    max-width: 85%;
    height: auto;
    margin-bottom: 15px;
}

aside h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

aside p.description {
    font-style: italic;
    margin-top: 0;
    margin-bottom: 30px;
}

.social-links {
    list-style: none;
    padding: 0;
}

.social-links li {
    margin-bottom: 10px;
}

.social-links a {
    color: #fff;
    text-decoration: none;
}

.body-links a {
    color: blue;
    text-decoration: none;
}

ol {
  list-style-type: none; /* Remove the default numbering for ordered lists */
  margin: 0;
  padding: 0;
}

li {
    margin-bottom: 10px; /* Add margin between list items */
  }

main {
    margin-left: 15%; /* Adjust based on the width of the sidebar */
    padding: 2% 15% 2% 15%; /* Optional: Add padding to the main content for better readability */
}
.blog-subsections {
    display: flex;
    flex-wrap: wrap;
}

.blog-subsections h3 {
    cursor: pointer;
}

.blog-post {
    flex: 0 0 30%; /* Adjust the width of each blog post section */
    margin-right: 5%; /* Add some space between sections */
}

/* Style for the expanded papers section */
#papers-section.expanded .blog-post {
    display: block;
}

/* Initially hide the blog posts inside the papers section */
#papers-section .blog-post {
    display: none;
}
