/* Container styles */
.container {
    width: 80%;
    margin: 0 auto;
}

/* Profile container styles */
.profile-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-info img {
    border-radius: 50%;
    max-width: 100px; /* Adjust the maximum width of the image */
    height: auto;
    margin-right: 20px; /* Adjust margin as needed */
}

.profile-info div {
    display: flex;
    flex-direction: column;
}

.description {
    font-size: 1.2em;
    color: #555;
}

/* Social links styles */
.social-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

.social-links li {
    display: inline;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #00bcd4;
}

/* Body links styles */
.body-links {
    margin-top: 20px;
    font-size: 1em;
    color: #333;
}

.body-links a {
    color: #00bcd4;
    text-decoration: none;
}

.body-links a:hover {
    text-decoration: underline;
}

/* Section styles */
section {
    margin-bottom: 40px;
}

section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.blog-subsections {
    display: flex;
    justify-content: space-between;
}

.blog-section {
    width: 48%;
}

.blog-posts-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.blog-post {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
}

.blog-post h4 {
    margin: 0 0 10px;
}

.blog-post a {
    text-decoration: none;
    color: #00bcd4;
}

.blog-post a:hover {
    text-decoration: underline;
}

.more-posts-link {
    text-align: right;
    margin-top: 10px;
}

.more-posts-link a {
    text-decoration: none;
    color: #00bcd4;
}

.more-posts-link a:hover {
    text-decoration: underline;
}
